form{
    width: 500px;
    background: white;
    padding: 48px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

input, textarea{
    display: block;
    margin-bottom: 15px;
    padding: 10px 20px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    color: var(--text);
    border: 1px solid var(--text);
    border-radius: 5px;
    /* border-color: var(--text); */
}

form button{
    padding: 15px;
    background-color: var(--accent2);
    border-radius: 5px;
    font-size: 16px;
    color: var(--lw);
}

.dark form button{
    background-color: var(--dg);
}

.dark form{
    background-color: rgba(255 255 255/10%);
}

input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:disabled{
    opacity: 0.9;
}

@media screen and (max-width:600px){
    form{
      padding: 30px;
    }
  }